<!-- データのインポート -->
<div class="p-3">
  <form>
    <div class="mb-3">
      <p class="text fs-4 fw-bold">データをインポート</p>
      <input class="form-control" type="file" id="formFile">
    </div>
    <button type="submit" class="btn btn-primary">インポートする</button>
  </form>
</div>

<!-- 線 -->
<div class="p-3">
  <hr>
</div>

<!-- データの追加 -->
<div class="p-3">
  <p class="text fs-4 fw-bold">データの追加</p>
  <%= form_with model: @customer do |form| %>
    <div class="row mb-3">
      <div class="col">
        <%= form.text_field :name, :class=>'form-control', :placeholder=>'名前' %>
      </div>
      <div class="col">
        <%= form.text_field :age, :class=>'form-control', :placeholder=>'年齢' %>
      </div>
      <div class="col">
        <%= form.text_field :media, :class=>'form-control', :placeholder=>'媒体' %>
      </div>
      <div class="col"></div>
    </div>
    <%= form.submit '追加', :class=>'btn btn-primary' %>
  <% end %>
</div>

<!-- 線 -->
<div class="p-3">
  <hr>
</div>

<!-- リスト -->
<div class="p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">名前</th>
        <th scope="col">年齢</th>
        <th scope="col">媒体</th>
      </tr>
    </thead>
    <tbody>

      <% @customers.each do |customer| %>
        <tr>
          <th scope="row">
            <%= customer["id"] %>
          </th>
          <td>
            <%= customer["name"] %>
          </td>
          <td>
            <%= customer["age"] %>
          </td>
          <td>
            <%= customer["media"] %>
          </td>
        </tr>
        <% end %>

    </tbody>
  </table>
</div>